<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
        <li class="start active"><a href="javascript:;"> <i class="icon-bar-chart"></i>
            <span class="title">太虚云识别图</span> <span class="arrow "></span></a>
            <ul class="sub-menu">
                <li ><a href="javascript:;"> AR资源管理</a></li>
                <!--<li ><a href="/manager/voidArScenic/picture/ovp"> AR名片管理</a></li>-->
            </ul>

        </li>

       <!-- <li class="start active"><a href="javascript:;"> <i
                class="icon-cogs"></i> <span class="title">系统管理</span> <span class="arrow "></span>
        </a>
            <ul class="sub-menu">
                        <li >
                        <a href="/manager/system/su/ovp"> 用户列表</a>
                        </li>

                        <li >
                        <a href="/manager/system/sr/oap"> 角色管理</a>
                        </li>

                        <li>
                        <a href="/manager/system/smp/ovp"> 修改密码</a>
                        </li>

            </ul>
        </li>-->
    </ul>
    <!-- END SIDEBAR MENU -->
</div>